/* Fix main al di sotto dei 1140px */

@media screen and (max-width: 1140px) {

    .container {
        width: 100%;
    }

}


/* !Fix per mobile (<576px)*/
@media screen and (max-width: 576px) {

    .row {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .lessons .col {
        width: 65%;
    }

    .steps .col {
        width: 65%;
    }

    .lessons .col {
        width: 65%;
    }

    .why-us .col-right {
        text-align: center;
    }
}